.add-item-form__container {
  display: flex;
  justify-content: space-around;
  width: 85%;
  height: 75vh;
  margin: 1.5rem auto 1rem auto;
  background-color: aliceblue;
}

.add-item-form__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
